body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background: linear-gradient(purple, rgb(208, 0, 255));
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#sports{
    width: 240px;
    padding: 1rem 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 12px;
}

#sports > li{
    font-size: 30px;
    background-color: aqua;
    width: 200px;
    text-align: center;
    margin: 0.4rem;
    list-style-type: none;
    cursor: pointer;
}